.table-primary {
    --table-color: #070707; /* Color del texto */
    --table-bg: #12151a; /* Color de fondo */
    --table-border-color: #2168b4; /* Color del borde */
  }
  
  /* Repite el mismo patrón para otras variantes de color como .table-secondary, .table-success, etc. */
  
  /* Estilos para filas rayadas */
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 123, 255, 0.05); /* Color de fondo rayado */
    color: #000; /* Color del texto en filas rayadas */
  }
  
  /* Estilos para filas al pasar el cursor */
  .table-hover tbody tr:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Color de fondo al pasar el cursor */
    color: #fff; /* Color del texto al pasar el cursor */
  }
  
  /* Estilos para filas activas */
  .table-active.active,
  .table-active.active > th,
  .table-active.active > td {
    background-color: rgba(0, 123, 255, 0.1); /* Color de fondo para filas activas */
    color: #fff; /* Color del texto para filas activas */
  }
  
  /* Estilos para celdas y encabezados de tabla */
  .table,
  .table th,
  .table td {
    color: var(--table-color); /* Color del texto */
    border-color: var(--table-border-color); /* Color del borde */
  }
  
  /* Estilos para la tabla en general */
  .table {
    color: var(--table-color); /* Color del texto */
    background-color: var(--table-bg); /* Color de fondo */
    border-color: var(--table-border-color); /* Color del borde */
  }
  
